/*style.css*/
body {
    background-color: #000;
    font-family: arial, sans-serif;
    color: #fff;
}

html {
    font-size: 100%;
}
html, body {
    height: 100%;
    overflow: hidden;
}

.topContainer{
    width: 99%;
    height: auto;
    position: absolute;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
    display: block;
}

/*MOVIE LISTINGS*/
.performances {
    width: auto;
    height: 75%;
    margin-left: 33%;
    position: relative;
}

.show {
    width: 100%;
    font-size: 1rem;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: fadeInOut 14s 0s infinite linear;
    background-image: linear-gradient(#4c4c4c, black);
    padding-bottom: 1em;
}

.pageContainer {
    position: absolute;
    width: 100%;
}

.show2 {
    width: 100%;
    font-size: 1rem;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: fadeInOut 14s 7s infinite linear;
    background-image: linear-gradient(#4c4c4c, black);
    padding-bottom: 1em;
}

.time {
    color: #F5CD58;
    font: bold 1.2em "Arial", sans-serif;
    margin-left: 2em;
    float: left;
}

.soldOut {
    color: #7a662c;
    font: bold 1.2em "Arial", sans-serif;
    margin-left: 2em;
    float: left;
}

.showname {
    font: bold 2.2em "Arial", sans-serif;
    margin-left: 0.1rem;
}

.showrating {
    float: right;
    padding: 0;
    margin-right: 0.5em;
    font: bold 1.5em "Arial", sans-serif;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/*POSTER SLIDESHOW*/
.posterContainer{
    width: 33%;
}
#poster {
    float: left;
    position: relative;
    width: 100%;
}

#poster img {
    position: absolute;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

#poster active {
    z-index: 3;
    width: auto;
}


/*PRICING*/
#pricing {
    padding-top: 60%;
    bottom: 0;
}
.bottomContainer {
    margin-left: 33%;
}
.priceOutput {
    position: absolute;
    width: 100%;
    height: 5em;
    z-index: 1;
    background-color: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.priceOutput li {
    display: inline-block;
}

.priceOutput active {
    z-index: 3;
    width: 100%;
}

.ptime {
    font: bold 1.0em "Arial", sans-serif;
    background-color: darkred;
    color: yellow;
    width: 12em;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.page {
    width: auto;
    font: bold 3em "Arial", sans-serif;
}
.pscreen {
    width: auto;
    float:right;
    font: bold 3em "Arial", sans-serif;
}